@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&family=Zen+Tokyo+Zoo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");

p {
  font-family: "Montserrat", sans-serif;
}
body {
  margin: 0px;
  padding: 0px;
}
.header {
  padding: 5px;
  background-color: #fee2f8;
  background-image: linear-gradient(315deg, #fee2f8 0%, #dcf8ef 74%);
}
.header h2 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-size: 25px;
}
.header p {
  margin-top: -20px;
  font-weight: 500;
  color: #555;
  letter-spacing: 3px;
}

.header img {
  padding: 0px;
  margin: 0px;
  width: 60px;
  height: auto;
}

.card-header {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

#info {
  height: 700px;
  overflow-y: scroll;
}

svg {
  width: 80%;
  height: auto;
}
path.active {
  fill: red;
}
.fa {
  color: #555;
}
.footer a {
  text-decoration: none;
  color: #555;
}
.footer p {
  font-size: 14px;
  font-weight: 500;
  color: #555;
}
.span {
  color: #00962a;
}
.links {
  margin-bottom: 20px;
  padding: 0px 5px;
}
.links:hover {
  border-bottom: 2px solid green;
}
/* ----------------------------------------- */
.description{
  pointer-events: none;
  position: absolute;
  font-size: 18px;
  text-align: center;
  background: white;
  padding: 10px 15px;
  z-index: 5;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  color: #21669e;
  border-radius: 5px;
  box-sizing: 0 0 0 1px #eee;
  transform:(translateX(-50%));
  display: none;
}
a.active{
  display: block;
}
a:after{
    content: '';
    position: absolute;
    left: 50%;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: -10px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid white;
}

/* .img-thumbnail {
  width: 50%;
  height: auto;
} */

@media screen and (max-width: 992px) {
  .info-card {
    width: 70%;
    margin: 0px auto;
    height: 90%;
  }
}

/* ----------------Map Details/* ---------------- */

text:hover {
  cursor: pointer;
}
.st0 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #00962a;
  stroke: #ffffff;
  cursor: pointer;
}

.st1 {
  fill: #ffffff;
}

.st2 {
  font-family: "Calibri";
}

.st3 {
  font-size: 10.697px;
}

.st4 {
  font-size: 10.698px;
}

.st5 {
  font-size: 6.4182px;
}

.st6 {
  font-size: 7.4879px;
}

.st7 {
  fill-rule: evenodd;
  clip-rule: evenodd;
  fill: #00962a;
  stroke: #ffffff;
  stroke-linecap: round;
  stroke-linejoin: round;
  cursor: pointer;
}

.st0:hover,
.st7:hover {
  fill: red;
}
text {
  pointer-events: none;
}
/* .st-selected{
                fill: red !important;
            } */
