*{
    margin: 0px;
    padding: 0px;
}

body{
    margin: 0px;
}

.jumbotron{
    border-radius: 0px;
    margin: 0px -29px;
}










/* ----------------Map Details/* ---------------- */
            .st0 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #00962A;
                stroke: #FFFFFF;
            }

            .st1 {
                fill: #FFFFFF;
            }

            .st2 {
                font-family: 'Calibri';
            }

            .st3 {
                font-size: 10.697px;
            }

            .st4 {
                font-size: 10.698px;
            }

            .st5 {
                font-size: 6.4182px;
            }

            .st6 {
                font-size: 7.4879px;
            }

            .st7 {
                fill-rule: evenodd;
                clip-rule: evenodd;
                fill: #00962A;
                stroke: #FFFFFF;
                stroke-linecap: round;
                stroke-linejoin: round;
            }

            svg path:hover{
                fill: red;
                transition: 0.3s;
                cursor: pointer;
            }